server:
  port: 8081

spring:
  datasource:
    url: jdbc:h2:mem:webhookdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

webhook:
  secret: "my-super-secret-key-12345"

logging:
  level:
    com.workshop.webhook: DEBUG